
<div class="page-container">
   
    <div class="container" id="container" #container >
      
  
      <div class="form-container sign-in-container">
        
         <h1>LIBRARY MANAGEMENT SYSTEM</h1>
         <div class="info-item">
            <i class="fa-solid fa-circle-info"></i>
            <p>Once you create an account, an approval request will be sent to admin. If that is approved, your account will be created.</p>
        </div>
        <div class="info-item">
            <i class="fa-solid fa-circle-info"></i>
            <p>You can have a maximum of 3 books ordered that have not been returned. You can keep a book with you for a maximum of 10 days.</p>
        </div>
        <div class="info-item">
            <i class="fa-solid fa-circle-info"></i>
            <p>If a book is not returned after 10 days, you will receive an email.</p>
        </div>
        <div class="info-item">
            <i class="fa-solid fa-circle-info"></i>
            <p>After the 10th day, a fine of 50RS will be imposed every day and on every book that has not been returned. This fine will be sent to you in the email every day.</p>
        </div>
        <div class="info-item">
            <i class="fa-solid fa-circle-info"></i>
            <p>If your fine exceeds 500RS or the book is damaged, the admin can block your account.</p>
        </div>
                <button  routerLink="/register">Continue >></button>
                 
      </div>
  
      <div class="overlay-container" id="overlayCon">
        <div class="overlay">
       
          <div class="overlay-panel overlay-right">
         
        </div>
        </div>
      </div>
      </div>
   
  </div>
  
