mat-sidenav-container{
    height: 100vh;
    
    mat-sidenav{
        width:250px;
        background: #19263b;
        color: #ffffff; 
        border-radius: 0; 
        position: fixed; /* Fix the sidebar */
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
    }
    mat-sidenav-content{
        display: flex;
       flex-direction: column;
       
       margin-left: 250px;   
    }
    main{
        margin-top: 64px;
        flex: 1 1 auto;
        overflow-y: auto;
    }
}
.main-content {
    padding: 1rem;
/* Same value as the header height */
}